/* Стили для десктопной версии */
.attachments {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.attachments .item {
    flex: 1 1 50%;
}

.attachment-table #attachmentsDataGrid {
    width: 100% !important;
    height: auto !important;
    min-height: 300px !important;
}

.attachment-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attachment-preview img {
    max-width: 100%;
    max-height: 300px;
}

/* Стили для мобильной версии */
@media (max-width: 600px) {
    .attachments .item  {
        flex: 1 1 100%;
    }

    .attachment-preview {
        margin: 20px 0 0;
    }
}