/* Стили для десктопной версии */
body:has(.jmix-login-main-layout) {
    overflow: hidden;
}

#uploadField {
    width: 100% !important;
}

vaadin-vertical-layout:has(.attachments) {
    height: auto !important;
}

#uploadField {
    margin: 15px 0 0;
}

.attachments {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.attachments .item {
    flex: 1 1 50%;
    box-sizing: border-box;
}

.attachments .item:first-child {
    padding: 0 1% 0 0;
}

.attachments .item:last-child {
    padding: 0 0 0 1%;
}

.attachment-table #attachmentsDataGrid {
    width: 100% !important;
    height: auto !important;
    min-height: 344px !important;
}

.attachment-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.preview-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    height: 300px;
    overflow: hidden;
}

.attachment-preview img {
    max-width: 100%;
    max-height: 100%;
    border: 3px solid #FFF;
    box-shadow: #cecece 0 0 20px;
    box-sizing: border-box;
}

.attachment-preview.dead img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.dead .preview-wrapper::after {
    content: '';
    position: absolute;
    width: 1000px;
    height: 20px;
    background: #000;
    left: -200px;
    bottom: -210px;
    transform: rotate(45deg);
}

.link-wrapper {

}

.flex-layout {
    width: 100%;
    flex-direction: column;
}

#volunteerTopByFoodImg {
    max-width: 100%;
}

.jmix-main-view-navigation ul {
    padding: 0 10px 0 0;
}

.jmix-main-view-navigation li a {
    border-radius: 5px !important;
    overflow: hidden;
}

.main-menu-btn {
    margin: 0 0 10px;
    padding: 8px 0 8px 12px !important;
    color: #fff !important;
    background: #006af5;
}

.main-menu-btn[highlight] {
    border-radius: 5px !important;
    margin: 0 10px 10px 0;
    padding: 8px 0 8px 12px !important;
    color: #1169dd !important;
    background: #006af5;
}

.main-menu-btn span {
    font-size: 15px;
}

.jmix-login-main-layout > img {
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px #fff solid;
    box-shadow: 0 0 30px 10px #cecece;
    max-width: 150px;
}

h2 img {
    max-height: 20px;
    margin: 0 0 0 8px;
    box-sizing: border-box;
    border-radius: 50%;
}

.success-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3 + vaadin-horizontal-layout {
    width: 100% !important;
    margin: 15px 0 0;
}

/* Стили для мобильной версии */
@media (max-width: 600px) {
    .attachments .item {
        flex: 1 1 100%;
        padding: 0 !important;
    }

    .attachment-preview img {
        margin: 20px 0 0;
    }
}